<h1>Welcome to Lumlate.com</h1>
<p>We will be coming soon </p>

<% unless user_signed_in? -%>
  <p><%= link_to 'Sign up', new_user_registration_path %></p>
  <p><%= link_to 'Sign in', new_user_session_path %></p>
<% end -%>
